#grillejeux{
    border-collapse: separate;
    border-spacing: 10px 5px;
    margin: 0 auto;
    bottom: auto;
    right: auto;
}
#grillejeux td{
    height: 20px;
    width: 20px;
    text-align: center;
}
#bonhomme{
    background-color: brown;
}
.sol{
    background-color: green;
}
p{
    text-align: center;
}