#grillejeux{
    margin: 0 auto;
    bottom: auto;
    right: auto;
}
#grillejeux td{
    height: 20px;
    width: 20px;
    text-align: center;
}
.bonhomme{
    background-image: url('../img/joueur-19342-1426198436.png'), url('../img/glazed\ terracotta.png');
    background-size: cover;
}
.sol{
    background-image: url('../img/glazed\ terracotta.png');
    background-size: cover;
}
p{
    text-align: center;
}
.monstre{
    background-image: url('../img/monstre_93.gif'), url('../img/glazed\ terracotta.png');
    background-size: cover;
}
.tresor{
    background-image: url('../img/ruby.png'), url('../img/glazed\ terracotta.png');;
    background-size: cover;
}
.mur{
    background-image: url('../img/stonewall001.png');
    background-size: cover;
}
#afficheur_de_score{
    font-size: 1em;
    text-align: center;
}
body{
    background-image: url('../img/brickplaster_albedo.png');
}